<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>

        body {
            background-color: #e1e1e1 !important;
            margin: 0;
            padding: 0;
            -webkit-font-smoothing: antialiased;
        }

        .page {
            width: 80%;
            text-align: center;
            background-color: white;
            margin: 0 auto;
        }

        .top, .name-bill, .middle {
            border-bottom: dashed 1px black;
            margin-top: 20px;
            padding-bottom: 20px;
        }

        .logo-top {
            padding-top: 10px;
        }

            .logo-top img {
                width: 20%;
            }

        .content-top {
            font-size: 12px;
            font-family: 'Open Sans', sans-serif;
            padding-bottom: 10px;
        }

        .content-bill, .infor-bottom {
            display: flex;
            justify-content: space-between;
        }

        .customer, .billId {
            margin: 0 50px;
            width: 40%;
            font-size: 12px;
            font-family: 'Open Sans', sans-serif;
        }

        .end {
            padding: 30px;
            font-family: 'Open Sans', sans-serif;
            background-color: #00bd56;
            color: white;
        }

        td, th {
            font-size: 13px;
            text-align: center;
            padding: 8px;
            font-family: 'Open Sans', sans-serif;
        }

        tr {
            border-bottom: solid 1px black;
        }

        h3, th {
            color: #00bd56 !important;
        }
    </style>
</head>

<body>
   @RenderBody();








</body>
</html>