<div class="checkout-area section-padding" id="donhang">
    <div class="container">
        <div class="row">


            <div class="col-md-12">
                <div class="order-info azure-bg p-30">
                    <div class="billing-title text-uppercase mb-15">
                        <h5><strong>đơn hàng của bạn thanh toán Thành Công</strong></h5>
                    </div>
                    <table>

                        <tbody></tbody>

                    </table>
                    @*<div class="billing-title text-uppercase mt-40 pb-30">
                            <h5><strong>Thông Tin Giao Hàng</strong></h5>
                        </div>*@
                    <br />


                    <a title="Tiếp Tục Mua Hàng" href="~/product/tat-ca-san-pham" class="button extra-small">
                        <span>Tiếp Tục Mua Hàng</span>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>