
@{
    ViewData["Title"] = "Thông Tin Chúng Tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Breadcrumbs Area -->
<div class="breadcrumbs-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs text-center text-white">
                    <h3 class="text-uppercase">Thông tin về chúng tôi</h3>
                    <ul class="breadcrumbs-list">
                        <li>
                            <a href="~/home/index" title="Return to Home">Trang Chủ</a>
                        </li>
                        <li>/</li>
                        <li>Thông Tin Về Chúng Tôi</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Of Breadcrumbs Area -->
<!-- Start page content -->
<section id="page-content" class="page-wrapper">
    <!-- Start About us Area -->
    <div class="about-us-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title-2 text-uppercase text-center mb-40">
                        <h4>Về Chúng Tôi</h4>
                    </div>
                </div>
            </div>
            <div class="row">


                <div class="row">
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="about-page-cntent">
                            <h4 class="text-uppercase"><strong>Organic Food</strong></h4>
                            <p>
                                Thực phẩm được gọi là hữu cơ Organic là thực phẩm phải thu từ nguồn sản xuất không sử dụng bất kỳ hóa chất nào. Sản xuất thực phẩm hữu cơ đòi hỏi thực hiện trong một hệ sinh thái đảm bảo, không được gần các nhà máy công nghiệp, không gần quốc lộ, tại vùng đất nền và nguồn nước có dư lượng kim loại và các chất độc tự nhiên thấp. Nguồn nước tưới và chăn nuôi phải là nước giếng sạch, không phải nước sông.
                            </p>
                            <blockquote>
                                <p> Chúng tôi mang đến một cuộc sống xanh cho bạn!</p>
                            </blockquote>
                            <p>
                                LSử dụng thực phẩm organic, bạn sẽ hạn chế được những rủi ro trẻ bị ngộ độc thực phẩm hoặc dung nạp một số chất độc từ thuốc trừ sâu gây ảnh hưởng đến quá trình phát triển sau này. Tăng cường hệ miễn dịch và bảo vệ tim mạch. Theo một nghiên cứu ở Mỹ, hơn 80 % photpho trong cơ thể chúng ta được tìm thấy từ thức ăn có chứa thuốc trừ sâu.
                                Chính vì thế, thực phẩm organic sẽ đảm bảo cho trẻ một sự phát triển an toàn và lành mạnh nhất.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <div class="img-element b-img">
                            <img src="~/imgVETA/logo1.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title-2 text-uppercase text-center mtb-40">
                            <h4>Nhóm Chúng Tôi</h4>
                        </div>
                    </div>
                </div>
                <div class="row">

                   
                    <div class="col-md-3 col-sm-4" style="margin:0 40px">
                        <div class="item-team text-center text-capitalize">
                            <div class="team-info">
                                <div class="team-img mb-10">
                                    <img width="250" height="250" alt="team4" class="img-responsive" src="~/imgVETA/chu.jpg">
                                    <div class="mask">
                                        <div class="mask-inner">
                                            <a href=""><i class="zmdi zmdi-facebook"></i></a>
                                            <a href=""><i class="zmdi zmdi-twitter"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h5>Vũ Xuân Hậu</h5>
                            <h6>Developer</h6>
                        </div>
                    </div>
                    <div class="col-md-3 hidden-sm" style="margin:0 40px">
                        <div class="item-team text-center text-capitalize">
                            <div class="team-info">
                                <div class="team-img mb-10">
                                    <img width="250" height="250" alt="team4" class="img-responsive" src="~/imgVETA/to.jpg">
                                    <div class="mask">
                                        <div class="mask-inner">
                                            <a href=""><i class="zmdi zmdi-facebook"></i></a>
                                            <a href=""><i class="zmdi zmdi-twitter"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h5>Nguyễn Thị Ngọc Ánh</h5>
                            <h6>FE Developer</h6>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!-- End Of About us Area -->
    </div>
</section>
