
@{
    ViewData["Title"] = "success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewData["Title"] = "success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="height:300px">
    <div class="container" style="height:50px"></div>
    <div class="row">

        <center>
            <div style="text-align:center; border:1px solid green; padding:8px; background-color:#b3ffb3; color: red; height:100px;width:300px">
                <h4>Sửa Thất Bại</h4>
                <div style="height:4px;">
                </div>
               
            </div>
        </center>

    </div>
</div>


